@font-face {
    font-family: LatoRegular;
    src: url(../font/Lato-Regular.ttf);
}
@font-face {
    font-family: LatoLight;
    src: url(../font/Lato-Light.ttf);
}
@font-face {
    font-family: LatoBold;
    src: url(../font/Lato-Bold.ttf);
}
@font-face {
    font-family: LatoBlack;
    src: url(../font/Lato-Black.ttf);
}

body {
    margin: 0;
}

.inner-content {
    margin: 0 auto;
    max-width: 940px;
}


.portofolio {
    background-color: #2d303a;
}

.portofolio_title {
    font-family: LatoBlack;
    color: #666d89;
    font-size: 1.85em;

}

.portofolio_text {
    font-family: LatoLight;
    color: #767e9e;
    font-size: 1.125em;

}


.portofolio_menu {
    padding-left: 0;

}

.portofolio_menu > li {
    display: inline-block;
    margin-right: 10px;


}

.portofolio_menu > li > a{
    padding: 4px 7px;
    border: 1px solid #666d89;
    border-radius: 5px;


    font-family: LatoRegular;
    color: #767e9e;
    font-size: 0.75em;
    text-decoration: none;
    transition: 0.5s;
}

.portofolio_menu > li > a:hover{
    border: 1px solid #c5c5c5;
    color: #dedede;
}


.portofolio_pictures {
    padding-top: 10px;
    padding-left: 0;
}

.portofolio_pictures > li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}



