@font-face {
    font-family: LatoRegular;
    src: url(../font/Lato-Regular.ttf);
}

@font-face {
    font-family: LatoLight;
    src: url(../font/Lato-Light.ttf);
}

@font-face {
    font-family: LatoBold;
    src: url(../font/Lato-Bold.ttf);
}

@font-face {
    font-family: LatoBlack;
    src: url(../font/Lato-Black.ttf);
}


address {
    font-style: normal;
}

ul {
    list-style: none;
    padding-left: 0;
}

.inner-content {
    margin: 0 auto;
    max-width: 940px;
}

.portofolio {

    padding-top: 36px;
    padding-bottom: 73px;
    background-color: #2d303a;
}

.portofolio_title {
    font-family: LatoBlack;
    color: #666d89;
    font-size: 1.85em;

}

.portofolio_text {
    font-family: LatoLight;
    color: #767e9e;
    font-size: 1.125em;

}

.portofolio_menu {
    padding-left: 0;

}

.portofolio_menu > li {
    display: inline-block;
    margin-right: 10px;

}

.portofolio_menu > li > a {
    padding: 4px 7px;
    border: 1px solid #666d89;
    border-radius: 5px;

    font-family: LatoRegular;
    color: #767e9e;
    font-size: 0.75em;
    text-decoration: none;
    transition: 0.5s;
}

.portofolio_menu > li > a:hover {
    border: 1px solid #c5c5c5;
    color: #dedede;
}

.portofolio_pictures {
    padding-top: 10px;
    padding-left: 0;
}

.portofolio_pictures > li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;

}

.portofolio_pictures > li > img {
    transition: 0.5s;
}

.portofolio_pictures > li > img:hover {
    opacity: 0.6;
}

.about-us {
    padding-top: 66px;
    padding-bottom: 66px;
    background-color: #f2f2f2;
}

.about-us h2 {
    font-family: LatoBlack;
    color: #666d89;
    font-size: 1.85em;
}

.about-us > .inner-content > p {
    font-family: LatoLight;
    color: #767e9e;
    font-size: 1.125em;
    line-height: 1.667;
}

.about-us_profile {
    padding-left: 0;
    padding-top: 30px;
}

.about-us_profile > li {
    display: inline-block;
    width: 300px;
    padding-right: 14px;
}

.about-us_profile > li:last-child {

    padding-right: 0;
}

.about-us_profile > li > h4 {
    margin: 0;

    padding-top: 19px;
    padding-bottom: 19px;
    font-family: LatoBlack;
    color: #666d89;
    font-size: 1.111em;


}

.about-us_profile > li > p {
    margin: 0;
    padding-bottom: 28px;

    font-family: LatoRegular;
    color: #767e9e;
    line-height:  1.797;

}

.social-media-sites {
    padding-left: 0;
    list-style: none;
}

.social-media-sites > li {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    margin-left: 8px;
    border: 1px solid #666d89;
    border-radius: 50%;
    transition: 0.5s;

}

.social-media-sites > li > a {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

}

.social-media-sites > li:hover {
    -webkit-filter: hue-rotate(147deg);

}

.social-media-sites > .facebook-button {
    background: url("../Images/Social-Media/facebook.png") no-repeat center center;
}

.social-media-sites > .google-plus-button {
    background: url("../Images/Social-Media/google+.png") no-repeat center center;
}

.social-media-sites > .twitter-button {
    background: url("../Images/Social-Media/twitter.png") no-repeat center center;
}

.social-media-sites > .linkedin-button {
    background: url("../Images/Social-Media/linkedin.png") no-repeat center center;
}


.get-a-quote {
    background-color: #f06c64;
    padding-top: 67px;
    padding-bottom: 73px;
}

.get-a-quote > .inner-content > h4 {
    margin: 0;
    padding-bottom: 29px;

    font-family: LatoBlack;
    color: #f0d8d9;
    font-size: 1.851em;



}


.get-a-quote > .inner-content > p {
    margin: 0;
    padding-bottom: 48px;
    font-family: LatoLight;
    color: #f0d9da;
    font-size: 1.125em;
    line-height: 1.667;

}

.quote-form {
    display: inline-block;
    width: 66%;
    vertical-align: top;
}

::-webkit-input-placeholder { color: #f48c8f; }

.quote-form  input,textarea {
    display: block;
    width: 90%;

    border: 0;
    border-radius: 5px;
    padding-left: 14px;
    margin-bottom: 16px;
    background-color: #d6564f;

    font-family: LatoRegular;
    font-size: 0.75em;
    color: #f48c8f;
    line-height: 38px;

}

.quote-form textarea {
    resize: none;
    line-height: normal;
    padding-top: 13px;
    height: 190px;
}

.quote-form input[type = "submit"] {
    width: 110px;
    transition: 1s;
}

.quote-form input[type = "submit"]:hover {
    background-color: white;
}


.contact-information {
    display: inline-block;
    width: 33%;
    vertical-align: top;
    line-height: 1.797;
}

.contact-information > h6 {
    margin: 0;

    font-family: LatoBlack;
    color: #f0d8d9;
    font-size: 1.111em;

}

.contact-information > p, li {
    font-family: LatoRegular;
    color: #f0d8d9;
    font-size: 0.75em;

}



.contact-information .contact_city-addr::before {
    content: url("../Images/location.png");
    padding-left: 2px;
    padding-right: 11px;
}

.contact-information .contact_phone-number::before {
    content: url("../Images/phone.png");
    padding-right: 12px;
}

.contact-information .contact_email-addr::before {
    content: url("../Images/mail.png");
    padding-right: 10px;
}

