@font-face {
    font-family: LatoRegular;
    src: url(../font/Lato-Regular.ttf);
}
@font-face {
    font-family: LatoLight;
    src: url(../font/Lato-Light.ttf);
}
@font-face {
    font-family: LatoBold;
    src: url(../font/Lato-Bold.ttf);
}
@font-face {
    font-family: LatoBlack;
    src: url(../font/Lato-Black.ttf);
}


.inner-content {
    margin: 0 auto;
    max-width: 940px;
}


.portofolio {
    background-color: #2d303a;
}

.portofolio_title {
    font-family: LatoBlack;
    color: #666d89;
    font-size: 1.85em;

}

.portofolio_text {
    font-family: LatoLight;
    color: #767e9e;
    font-size: 1.125em;
}



